<a href="" class="logo"><i class="fas fa-font"></i></a>
<span>꽤알유머</span>
<div class="dropdown">
    <button class="dropdown-button"><i class="fas fa-globe-americas"></i></button>
    <div class="dropdown-content">
        <a >한국어</a>
        <a >English</a>
    </div>
</div>

<!-- <i class="fas fa-caret-down"></i> -->