<!-- <link rel="stylesheet" href="../public/css/style.css"> -->

<div class="progress-bar"></div>
<div class="progress-count">2 / 80</div>
<div class="question-container">나는 새로운 사람을 만나는 것을 좋아합니다.</div>
<div class="empty-line"></div>
<div class="answer-container">
    <ol>
        <li class="answer-yes">전혀 아닙니다.</li>
        <li class="answer-no">다소 그렇습니다.</li>
    </ol>
</div>
