<!-- <link rel="stylesheet" href="../public/css/style.css"> -->

<div class="progress-bar"><div class="inside-bar"></div></div>
<div class="progress-count"> / 80</div>
<div class="question-container"></div>
<div class="empty-line"></div>
<div class="answer-container">
    
</div>
