<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header class="header">
            <a href="" class="logo"><i class="fas fa-font"></i></a>
            <span>꽤알유머</span>
            <a href="" class="dropdown"><i class="fas fa-globe-americas"></i></a>
            <!-- <i class="fas fa-caret-down"></i> -->
        </header>
        <!-- END. Header -->
        <!-- Navigation -->
        <nav class="navigation">
            <ul>
                <li><a href="" class="current-page">MBTI 테스트</a></li>
                <li><a href="">MBTI 스타일</a></li>
                <li><a href="">갤러리</a></li>
            </ul>
        </nav>
        <!-- empty space -->
        <div class="empty-space"></div>
        <!-- END. empty space -->
        <!-- END. Navigation -->
        <!-- Main-Content -->
        <section class="main-content">
            <h1>MBTI 무료 성격유형 테스트</h1>
            <h3>80개의 질문으로 나의 MBTI 유형을 알아보세요.</h3>
            <div class="name-box">
                <div class="name-button">이름</div>
                <input type="text" class="name_input" placeholder="이름을 입력하세요.">
            </div>
            <button type="submit">바로 시작하기</button>
        </section>
        <!-- END.Main-Content -->
    </div>
</body>
</html>