/*Common*/

:root {
    --primary-color : #809fff;
    --complementary-color : #f080ff;
    --dark-complementary-color : #d372e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 60vh;
    min-width: 60vh;
    flex-direction: column;
    position: relative;
    margin : auto;
}

/*END. Common*/

/* Header */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size : 3rem;
    color : black;
    background-color: var(--primary-color);
}

.header .logo {
    background-color: black;
    padding : 0 0.5rem;
    color : white;
    line-height: 5rem;
}

.header span {
    color : white;
    font-weight: 600;
    font-size : 2rem;
    line-height: 5rem;
    letter-spacing: 0.2vh;
}

/*dropdown*/
.header .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-button {
    color : black;
    background: none;
    border: none;
    cursor: pointer;
    font-size : 2rem;
    line-height: 5rem;
    padding : 0 0.5rem;
}

.dropdown .dropdown-content {
    width : 10rem;
    position: absolute;
    top : 0;
    right : 0;
    transform: translate(0, 5rem);
    display: none;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding : 0.5rem 0;
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    color : black;
    font-size: 1.5rem;
    display: block;
    text-align: left;
    padding : 0.5rem;
}

.dropdown-content a:hover {
    background-color: #e9ecef;
}

.dropdown-content.show {
    display : block;
}

/*END. dropdown*/
/* END. Header */

/* Navigation */

.navigation ul {
    display: flex;
    align-items: center;

}

.navigation ul li {
    padding : 0.8rem;
    text-align: center;
    flex : 1;

}

.navigation ul li a {
    font-size : 1.2rem;
    color : black;
    font-weight: 600;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.navigation ul li .current-page {
    color : red;
}

/* END. Navigation */

/* Empty space */

.empty-space {
    height: 0.8rem;
    background-color: #eaecef;
}
/* END. Empty space */

/* Main-content : start */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 0.6rem 0.8rem;
}

.main-content h1 {
    font-size : 3.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.main-content h3 {
    font-size : 1.3rem;
    font-weight: 300 ;
    margin-bottom: 1rem;
}

/* name-box */
.main-content .name-box {
    width : 100%;
    height : 4.5rem;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.name-box .name-button {
    width : 10%;
    height : 100%;
    text-align: center;
    line-height: 4.5rem;
    font-size : 28px;
    background-color: #e9ecef;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.name-box input {
    width : 100%;
    height : 100%;
    padding : 0.5rem 1rem;
    font-size : 28px;
    border : none;
    outline : none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.name-box input:focus {
    box-shadow: 0 0 4px 5px var(--complementary-color);
}

/* END. name-box */

.main-content button {
    width : 100%;
    height: 4.3rem;
    border : none;
    border-radius: 1rem;
    font-size : 2rem;
    font-weight: 500;
    background-color: var(--complementary-color);
    color : white;
    cursor: pointer;
}

.main-content button:hover {
    background-color: var(--dark-complementary-color);
    border: 0.5px solid black;
}
/* END. Main-content : start */

/* Main-content : question*/
.progress-bar {
    width : 100%;
    height : 1.5rem;
    position: relative;
    border-radius: 1rem;
    background-color: #e9ecef;
}

.progress-bar::after {
    content: "";
    position: absolute;
    background-color: black;
    width : 30%;
    height: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.progress-count {
    display: flex;
    flex-direction: row-reverse;
}

.question-container {
    font-size : 2.5rem;
}

/* END. Main-content : question*/